{% extends "yuzu_gallery/base.html" %}
{% load static %}

{% block body %}

    <div>
        <div>
            <img src="{{ image.image.url }}" alt="..." style="width: 100%">
        </div>
        <div>
            <div>
                {% for tag in image.tags.all %}
                    <h1><a class="badge badge-secondary" href="{% url 'yuzu_gallery:tag' tag.id %}"># {{ tag.name }}</a></h1>

                {% endfor %}
            </div>
            <hr class="m-1" style="background: #f6f6f655">
            <div class="d-flex flex-row justify-content-between lead text-light">
                <span><a
                        href="{% url 'yuzu_gallery:user' image.uploader.user.id %}">{{ image.uploader.user.username }}</a> | {{ image.upload_time|date }}</span>
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger btn-lg" role="button" type="submit">
                        <span>❤ {{ image.liked_users.all|length }}</span></button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}