{% extends "yuzu_gallery/base.html" %}
{% load static %}

{% block body %}

    <h1>Tag</h1>

    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Number</th>
        </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <th scope="row">{{ tag.id }}</th>
                <td>
                    <a href="{% url 'yuzu_gallery:tag' tag.id %}">
                        {{ tag.name }}
                    </a>
                </td>
                <td>{{ tag.images.all|length }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
