{% extends "yuzu_gallery/base.html" %}
{% load static %}

{% block body %}
    <div>
        <form method="post" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            {{ form }}
            <div class="form-group">
                <label for="tag-select">Tags</label>
                <select multiple id="tag-select" name="tag-selection" class="form-control">
                    {% for tag in tags %}
                        <option value="{{ tag.id }}">{{ tag.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <button type="submit" role="button" class="btn btn-success">
                    Upload
                </button>
            </div>
        </form>
    </div>
{% endblock %}