{% extends "yuzu_gallery/base.html" %}
{% load static %}

{% block body %}
    <h1 class="display-1 font-weight-bolder" style="color: white;">{{ profile_user.username }}</h1>
    <br>
    <br>
    <div>
        <div>
            <h3 class="display-4" style="color: #CC3434">Liked Images</h3>
        </div>
        <div class="d-flex flex-row justify-content-around align-items-stretch flex-wrap">
            {% for image in liked_images %}
                <div class="shadow p-1 mb-5 bg-white rounded d-flex flex-column justify-content-between"
                     style="flex-basis: 30%">
                    <a href="{% url 'yuzu_gallery:image' image.id %}">
                        <img src="{{ image.image.url }}" alt="..." style="width: 100%; height: auto">
                    </a>
                    <div>
                        <hr class="m-1">
                        {% for tag in image.tags.all %}
                            <a class="badge badge-secondary"
                               href="{% url 'yuzu_gallery:tag' tag.id %}"># {{ tag.name }}</a>
                        {% endfor %}
                        <hr class="m-1">
                        <div class="text-dark d-flex flex-row justify-content-between">
                            <span>{{ image.uploader.user.username }} | {{ image.upload_time|date }}</span>
                            <span>❤ <b>{{ image.liked_users.all|length }}</b></span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <div>
        <div>
            <h3 class="display-4" style="color: darkturquoise">Uploaded Images</h3>
        </div>
        <div class="d-flex flex-row justify-content-around align-items-stretch flex-wrap">
            {% for image in uploaded_images %}
                <div class="shadow p-1 mb-5 bg-white rounded d-flex flex-column justify-content-between"
                     style="flex-basis: 30%">
                    <a href="{% url 'yuzu_gallery:image' image.id %}">
                        <img src="{{ image.image.url }}" alt="..." style="width: 100%; height: auto">
                    </a>
                    <div>
                        <hr class="m-1">
                        {% for tag in image.tags.all %}
                            <a class="badge badge-secondary"
                               href="{% url 'yuzu_gallery:tag' tag.id %}"># {{ tag.name }}</a>
                        {% endfor %}
                        <hr class="m-1">
                        <div class="text-dark d-flex flex-row justify-content-between">
                            <span>{{ image.uploader.user.username }} | {{ image.upload_time|date }}</span>
                            <span>❤ <b>{{ image.liked_users.all|length }}</b></span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
